@model MovieMaster.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h2>DETAILS</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success btn-xs" asp-action="Index">Back to List</a>
    <a class="btn btn-warning btn-xs" asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a>
</div>
