@model IEnumerable<MovieMaster.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-success btn-xs" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    <a asp-action="TitelSort">@Html.DisplayNameFor(model => model.Titel)</a>
                </th>
                <th>
                    <a asp-action="AgeSort">@Html.DisplayNameFor(model => model.AgeLimit)</a>
                </th>
                <th>
                    <a asp-action="GenreSort">@Html.DisplayNameFor(model => model.Genre)</a>
                </th>
                <th>
                    <a asp-action="PriceSort">@Html.DisplayNameFor(model => model.Price)</a>
                </th>
                <th>
                    <a asp-action="DescriptionSort">@Html.DisplayNameFor(model => model.Description)</a>
                </th>
                <th>
                    <a asp-action="ReleaseDateSort">@Html.DisplayNameFor(model => model.ReleaseDate)</a>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <a class="btn btn-success btn-xs" asp-action="Details" asp-route-id="@item.MovieId">Details</a> 
                <a class="btn btn-warning btn-xs" asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> 
                <a class="btn btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
