@model IEnumerable<MovieMaster.Models.ContractViewModel>
@{ViewData["Title"] = "Index";}
<h2>CONTRACTS</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="CustSort">@Html.DisplayNameFor(model => model.CustomerName)</a>           
            </th>
            <th>
                <a asp-action="FromdateSort">@Html.DisplayNameFor(model => model.FromDate)</a>           
           </th>
            <th>
                <a asp-action="ToDateSort">@Html.DisplayNameFor(model => model.ToDate)</a>           
            </th>       
            <th>
                <a asp-action="ReturnDateSort">@Html.DisplayNameFor(model => model.ReturnDate)</a>           
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem =>item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                @if (item.ReturnDate != DateTime.MinValue)
                {
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                }
            </td>
            <td>
                <a class="btn btn-success btn-xs" asp-action="Details" asp-route-id="@item.ContractId">Details</a> 
                <a class="btn btn-warning btn-xs" asp-action="Edit" asp-route-id="@item.ContractId">Return</a> 
                <a class="btn btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.ContractId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
