@model IEnumerable<MovieMaster.Models.Contract>

@{
    ViewData["Title"] = "Index";
}

<h2>CONTRACTS</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FromDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReturnDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContractId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContractId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContractId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
